<div id="contenedor">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="entradas">
      <input type="text" size="30" placeholder="Nombre" id="nombre" formControlName="nombre">
    </div>
    <div class="entradas">
      <input type="text" size="30" placeholder="apellido" id="apellido" formControlName="apellido">
    </div>
    <div class="entradas">
      <input type="text" size="30" placeholder="DNI" id="numeroid" formControlName="numeroid">
    </div>
    <div class="entradas">
      <input type="email" size="30" placeholder="correo" id="correo" formControlName="correo">
    </div>
    <div class="botonn">
      <button class="btn btn-primary">Registrar</button>
    </div>
    
  </form>
</div>
<router-outlet>
  
</router-outlet>
